# Puerto y Context Path
SERVER_PORT=8080
SERVER_SERVLET_CONTEXT_PATH=/api/v1/auth

# ------------------------------------------------------------------------------
# BASE DE DATOS (LOCAL)
# ------------------------------------------------------------------------------
SPRING_DATASOURCE_URL=jdbc:postgresql://host.docker.internal:5432/multiarenas_beathub?currentSchema=auth,public
SPRING_DATASOURCE_USERNAME=
SPRING_DATASOURCE_PASSWORD=

# ------------------------------------------------------------------------------
# BASE DE DATOS  (STAGING / PRODUCCION)
# ------------------------------------------------------------------------------
# SPRING_DATASOURCE_URL=
# SPRING_DATASOURCE_USERNAME=
# SPRING_DATASOURCE_PASSWORD=

# Configuracion JPA & Flyway
SPRING_JPA_HIBERNATE_DDL_AUTO=validate
SPRING_JPA_SHOW_SQL=false
SPRING_FLYWAY_ENABLED=true
CORS_ALLOWED_ORIGINS=*

# ------------------------------------------------------------------------------
# JWT & AZURE SSO CONFIGURATION
# ------------------------------------------------------------------------------
JWT_SECRET=404E635266556A586E3272357538782F413F4428472B4B6250645367566B5970
JWT_ISSUER=beathub-auth-service
JWT_EXPIRATION_MS=86400000

AZURE_SSO_ENABLED=true
AZURE_SSO_JWKS_URL=https://ssopreprod.b2clogin.com/ssopreprod.onmicrosoft.com/b2c_1a_passwordless_signin-optpass/discovery/v2.0/keys
AZURE_SSO_WELL_KNOWN_URL=https://ssopreprod.b2clogin.com/ssopreprod.onmicrosoft.com/B2C_1A_PASSWORDLESS_SIGNIN-OPTPASS/v2.0/.well-known/openid-configuration
AZURE_SSO_CLIENT_ID=63f8ef93-042a-40eb-a2f0-ba7b574e5ea6
AZURE_SSO_ISSUER=https://ssopreprod.b2clogin.com/bea47667-153a-452f-9723-8e8b4071f126/v2.0/
AZURE_SSO_VALIDATE_SIGNATURE=true
AZURE_SSO_VALIDATE_AUDIENCE=true
AZURE_SSO_VALIDATE_ISSUER=false
AZURE_SSO_CLOCK_SKEW_SECONDS=120
AZURE_SSO_CACHE_TTL_MINUTES=60

